@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap');

html#dark {
  --color-primary: #FCFCFC;
  --color-secundary: #00FF00;
  --color-accent: #202020;
}

html#light {
  --color-primary: #202020;
  --color-secundary: #303030;
  --color-accent: #FCFCFC;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.children-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
